*{
    margin: 0px;
    padding: 0%;
    font-family: 'Press Start 2P', cursive;
  
}
.xs{
    color: red;
}
.os{
    color: blue;
}
.btn{
    width: 15%;
    border-radius: 5px;
    height: 8vh;
    font-size: 18px;
      box-sizing: border-box;
}
.title,.tcss{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid red; */
}
.tcss{
    color: red;
}

.childcss{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height:64vh;
    /* border: 2px solid red; */
}
 .d1css,.d2css,.d3css{
     width: 65%;
     height: 20vh;
     display: flex;
     /* border: 1px solid blue; */
/*      
     flex-wrap: wrap; */
     justify-content: center;
   
}
     
.d11css,.d12css,.d13css,.d21css,.d22css,.d23css,.d31css,.d32css,.d33css{
     border: 7px solid black;
     width: 20%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items:center;
     font-size: 80px;
}


.wcss{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 1%;
    height: 10vh;
}

.sc{
    width: 100%;
    display: flex;
    justify-content: center;
}
.score{
    width: 80%;
    height: 5vh;
    /* border: 2px solid red; */
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.endparent{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 18vh;
     /* border: 2px solid red; */
}
.endchild{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     /* border: 2px solid red; */
}
.d11css{
    border-top: none;
    border-left: none;
    /* border-right: none; */
     
}
.d12css{
    border-left: none;
    border-top:none;
     border-right: none;
}
.d13css{
    border-right:none;
    border-top: none;
    /* border-left: none; */
}
.d21css{
    border-left: none;
    border-right: none;
}
.d22css{
     border-right: none;
}
.d31css{
    border-left: none;
    border-bottom: none;
    border-top:none;
     border-right:none ;
   
}
.d32css{
    border-bottom: none;
     border-top:none;
        border-right:none ;
    
}

.d23css{
    border-right: none;
}
.d33css{
    border-bottom: none;
    border-right: none;
     border-top:none;
}
@media (max-width: 768px) {
  .d1css, .d2css, .d3css {
    width: 90%; 
    height: 20vh;
  }

  .d11css, .d12css, .d13css,
  .d21css, .d22css, .d23css,
  .d31css, .d32css, .d33css {
    font-size: 50px;
    border-width: 5px;
  }

  .btn {
    width: 20%;
    font-size: 14px;
    height: 6vh;
  }
  .score{
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .d1css, .d2css, .d3css {
    
    width: 95%;
    height: auto;
  }
  .endparent{
    height: auto;
  }
  .d11css, .d12css, .d13css,
  .d21css, .d22css, .d23css,
  .d31css, .d32css, .d33css {
    
    width: 30%;
    height: 15vh;
     border-width: 5px;
    font-size: 50px;
  }
    .score{
    font-size: 10px;
  }
   .d11css, .d12css, .d13css{
    border-bottom: 1px;
   }
}

